<div class="div-body">
    <div class="custom-swal-popup">

        <div class="div-header">
            <h1>{{group.title}}</h1>
            <img src="{{group.urlImage}}" alt="Group Image">
            <div class="add-comment">
                <button (click)="nuevaPublicacion()" class="add-comment-button">Nueva Publicación</button>
            </div>
            <p>_______________________________________________</p>
        </div>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>


        @for (publication of publicationList; track $index) {
        <div class="post">
            <h2>{{publication.title}}</h2>
            <img src="{{publication.urlImage}}" alt="Group Image">
            <p>{{publication.description}}</p>

            <div class="comments">
                <h3 class="comments-title">Comments</h3>
                <ul class="comments-list">
                    <!-- Recorrer las interacciones de la publicación -->
                    @for (interaction of publication.interaction; track $index) {
                    <li class="comment-item">
                        <div class="comment-header">
                            <span class="comment-user-name">{{interaction.emailUser}}</span>
                            @if (interaction.like) {
                            <span class="comment-like-icon">👍</span>
                            }
                        </div>
                        <ul class="comment-text-list">
                            <!-- Recorrer los comentarios de la interacción -->
                            @for (c of interaction.comentarios; track $index) {
                            <li class="comment-text">{{c}}</li>
                            }
                        </ul>
                    </li>
                    }
                </ul>

                <div class="add-comment">
                    <textarea class="comment-textarea" rows="3" placeholder="Add a comment..." #comment></textarea>
                </div>
                <button class="like-button" (click)="addComment(publication.id, comment.value)">Add Comment</button>
                <button class="like-button" (click)="addLike(publication.id)">👍 Like</button>
            </div>



        </div>
        }


        <!-- Additional posts can be added dynamically here -->
    </div>
</div>