<div class="container">
    <div class="spawn-navbar"></div>
    <div class="navbar">
        <br>
        <input type="button" name="" id="" value="Nuevo Grupo" class="button max-width" (click)="nuevoGrupo()">
        <div class="divider"></div>

        <h1>Tus Grupos</h1>
        <div class="list-group">
                @for (group of myGroupEntityList; track $index) {
                    <button class="group">
                        <div class="group-header">
                            <img class="group-icon" src="{{group.urlImage}}" alt="Microservicios">
                            <span class="group-name">{{group.title}}</span>
                        </div>
                        <div class="group-info">
                            <span class="activity-status">hay {{group.emailUsers.length}} usuarios en este grupo</span>
                        </div>
                    </button>
                }
        </div>
    </div>
    <div class="main">
        <div class="div-body">
            @for (group of groupEntityList; track $index) {
            <div class="card">
                <div class="image-content">

                    <div class="card-image">
                        <img src="{{group.urlImage}}" alt="image" class="card-img">
                    </div>
                </div>

               <div class="card-content">
                    <h2 class="name">{{group.title}}</h2>
                    <p class="description">hay {{group.emailUsers.length}} usuarios en este grupo</p>

                    @if (group.emailUsers.includes(email)) {
                        <button class="button" (click)="verGrupo(group.id)" >Ver Grupo</button>
                    }
                    @else {
                        <button class="button" (click)="unirseGrupo(group.id)">Unirse</button>
                    }
                </div>                  
            </div>
            }
        </div>
    </div>
</div>