.header-section {
    text-align: center;
    background-color: #0f172a;
    width: 100%;
    margin-bottom: 20px;
    position: fixed;
    margin-bottom: 700px;
    z-index: 10;
}

.img-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.box-details {
    margin-top: 10px;
}

.publications-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
}

.publication-card {
    display: flex;
    flex: 0 0 auto;
    max-width: 400px;
    background: #1e293b;
    border-radius: 8px;
    padding: 15px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
}

.carousel-images {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.publication-image {
    width: 100%;
}

.publication-image.active {
    display: block;
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
}

.carousel-btn.left {
    position: absolute;
    left: 10px;
}

.carousel-btn.right {
    position: absolute;
    right: 10px;
}


.comments {
    margin-top: 15px;
}

.comments h3 {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.comments-list {
    max-height: 100px;
    /* Limita la altura del contenedor de comentarios */
    overflow-y: auto;
    /* Habilita el scroll vertical */
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
}

.comments-list ul {
    list-style-type: none;
    padding: 0;
}

.comments-list ul li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #333;
}

.comments-list ul li:last-child {
    border-bottom: none;
}

.add-comment {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.add-comment {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    resize: none;
}
.textarea{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
}

.add-comment button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-comment button:hover {
    background-color: #0056b3;
}